---
layout: default
id: home
---

<h1 class="title"><span class="highlight">Hive</span><br />for&nbsp;iOS</h1>

<div class="description">
  <p>
    It’s the game of Hive you love, optimized for your
    <span class="highlight">iPhone</span> and
    <span class="highlight">iPad</span>.
  </p>

  <p>
    Challenge your friends or play against the
    <span class="highlight">Hive Mind</span> AI.
  </p>

  <p>
    Supports all 3 expansions: the <span class="highlight">ladybug</span>, the
    <span class="highlight">mosquito</span>, and the
    <span class="highlight">pill bug</span>.
  </p>
</div>

<a href="#"><img src="assets/images/AppStoreBadge.svg" /></a>

<!-- <div class="page">
  <div class="post-feed">
    {% if site.categories['featured'] %}
    <h1 class="post-feed-section-header text-header">Featured</h1>
    <div class="separator post-feed-section-separator"></div>
    {% for post in site.categories['featured'] %} {% include post-card.html
    post=post %} {% endfor %}

    <h1
      class="post-feed-section-header post-feed-section-header-spaced text-header"
    >
      Most Recent
    </h1>
    <div class="separator post-feed-section-separator"></div>
    {% endif %} {% for post in site.posts %} {% unless post.categories contains
    'featured' %} {% include post-card.html post=post %} {% endunless %} {%
    endfor %}
  </div>
</div> -->
